

/* HEADER */
.logo {
  height: 2.2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;

  /* because we want the header to be sticky later */
  height: 6.4rem;
  padding: 0 4.5rem;

}

/* NAVIGATIONS */

.main-nav-links {
  display: flex;
  list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited{
  display: inline-block;
  padding: 1.5rem;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  color: #555 
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited{
  display: inline-block;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link:hover,
.main-nav-link:active{
  background-color: #f5cba7;
  border-radius: 9px;
}


.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero-container {
  display: grid;
  grid-template-columns : 1fr 1fr;
  gap: 9.6rem;
  max-width: 130rem;
  margin: 0 auto;
  align-items: center;
  padding: 0 3.2rem;
}


.hero-img {
  max-width: 100%;
}


.hero-description{
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}

.delivered-meals {
  display: flex;
  margin-top: 8rem;
  align-items: center;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img{
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -10px;
  border: 3px solid #fff;
}

.delivered-imgs img:last-child{
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 400;
  padding-left: 20px;
}

.delivered-text span {
  color: #cf711f;
}

/****************/
/* How it Works Section */
/****************/
.section-how {
  padding: 9.6px 0;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description{
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

}

.step-img-box::before,
.step-img-box::after{
  content: '';
  display: block;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  position: relative
}

.step-img-box::before {
  width: 65%;
  /* height: 60%; */
  padding-bottom: 65%;
  background-color:#fdf2e9;
  position: absolute;
  z-index: -5;
}


.step-img-box::after {
  width: 50%;
  /* height: 60%; */
  padding-bottom: 50%;
  background-color:#ebd7c8;
  position: absolute;
  z-index: -1;

}

.step-img{
  width: 35%;
}

/****************/
/* Featured In Section */
/****************/

.section-featured {
  padding: 4.8rem 0;
}

.heading-featured-in{
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  text-align: center;
  margin-bottom: 2.4rem;
}
.logos {
  display: flex;
  justify-content: space-around;
  
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}


/****************/
/* Meals Section  */
/****************/

.section-meals {
  padding: 9.6rem 0;
}


.meal-content{
  padding: 3.2rem 4.8rem
}

.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.5rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}

.tag--vegetarian{
  background-color: #51cf66;
}

.tag--vegan{
  background-color: #82c91e;
}

.tag--paleo{
  background-color: #fcc419
}




.meal-title{
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem; 
}

.meal-attributes{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-attribute{
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.meal-icon{
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}
.meal-img {
  width: 100%;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0,0,0,0.75 );
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.5s;
}

.meal:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0,0,0,0.06 );
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding-bottom: 1.8rem;

}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

.all-recipies {
  text-align: center;
  font-size: 1.8rem;
}

/****************/
/* Testimonials  Section  */
/****************/

.section-testimonials {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonial-container {
  padding: 2.6rem;
}

.testimonials {
  display:grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.8rem;
}

.testimonial-text{
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;

}

.testimonial-name {
  font-size: 1.6rem;
  color: #777;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item{
  overflow: hidden;
}

.gallery-item img{
  /* display: block;  */
  width: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover{
  transform: scale(1.2);
}

/****************/
/* Pricing Section  */
/****************/

.section-pricing {
  padding: 9.6rem 0;
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;

}

.pricing-plan {
  border-radius: 11px;
  width: 75%;
}

.pricing-plan--starter{
  justify-self: end;
  border: 2px solid #fdf2e9;
  padding: 4.6rem;

}

.pricing-plan--complete{
  padding: 4.8rem;
  background-color: #fdf2e9;
  position: relative;
  overflow: hidden;
}

.pricing-plan--complete::after{
  content: "Best value";
  position: absolute;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  top: 6%;
  right: -7%;
  background-color: #ffd43d;
  padding: 0.83rem 3.2rem;
  transform :rotate(45deg )
}

.plan-name {
  font-weight: 600;
  font-size: 2rem;
  color: #cf711f;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;

}

.plan-text {
  font-size: 1.7rem;
  line-height: 1.6  
}

.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 1.8rem;
}

.plan-sign-up{
  text-align: center;
  margin-top: 4.8rem;
}

/****************/
/* FEATURE Section  */
/****************/


.section-pricing {
  padding: 9.6rem 0;
}

.feature-icon {
  color: #e67e22;
  height: 3.4rem;
  width: 3.4rem;
  margin-bottom: 3.2rem;
  background-color: #f5cba7;
  padding: 1.6rem;
  border-radius:50%;
}

.feature-text{
  font-size: 1.8rem;
  line-height: 1.8;

}

.feature-title{
  font-size: 2.4rem;
  font-weight: 700;
  color: #333; 
  margin-bottom: 1.6rem;
}

.plan-details{
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 4.8rem
}

/****************/
/* CTA Section  */
/****************/

.section-cta{
  padding: 9.6rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #e67e22;
  box-shadow: 0 2.4rem 4.8rem rgba(0,0,0,0.15 );
  border-radius: 11px;
  background-image: linear-gradient(to right bottom ,#eb984e, #e67e22);
  overflow: hidden;
}
.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #45260a
}

.cta .heading-secondary {
  color: #45260a
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image: linear-gradient(to right bottom ,rgba(235, 151, 78, 0.349), #e67d2241), url(../img/eating.jpg);
  background-size: cover;
}


.cta-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3.2rem;
  row-gap: 2.4rem;
  align-items: center;
}

.cta-form label{
  font-size: 1.8rem;
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
  
}



.cta-form input,
.cta-form select{
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  margin-top: 1.2rem;
  font-family: inherit;
  color: inherit;
  border: none;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); 
}

.cta-form input::placeholder{
  color: #aaa;
}

.cta-form button{
  margin-top: 4.2rem;
  padding: 1.2rem;
  font-size: 1.8rem;
  border: none;
  cursor: pointer;
  color: #ddd;
  background-color: #45260a;
}

.cta-form *:focus{
  /* outline: none;
  box-shadow: 1px solid black; */
}

/****************/
/* FOOTER */
/****************/

.footer{
  padding: 9.6rem 0;
}

.social-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.social-icon {
  height: 1.4rem;
  width: 1.4rem;
}

.footer-logo{
  display: block;
  margin-bottom: 3.2rem;
}

.footer-nav{
  list-style: none;
  display: flex;
  gap: 2.4rem;
  flex-direction: column;

}

.footer-links:link,
.footer-links:visited{
  text-decoration: none;
  font-size: 1.8rem;
  color: #767676;
  transition: all 0.3s
}

.footer-links:hover,
.footer-links:active{
  color: #555
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}